<!DOCTYPE html>

<head>
<style>

h1 {
  font-size: 300%;
  text-align: center;
}

p, body {
  font-size: 100%;
  text-align: center;
}

</style>
</head>

<body>
  <h1> About Us</h1>
  <p> This is just some holder text to make it lok cool. Doesn't really mean anything but it's just kinda here i guess. Ummm so yeah that's pretty cool but 
  just trying to fill up room. huh. weather's nice</p>
  <%= link_to "Back to the Home page", root_path %>
</body>